body {
  background-color: rgb(129, 125, 125);
}

.App {
  margin: 0 auto;
  height: 100%;
  min-height: 540px;
  width: 700px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  background-color: #fff;
  padding: 20px;
  font-size: 20px;
}

.todo-list {
  margin: 0 auto;
  width: 550px;
  word-wrap: break-word;
}

.addTodo {
  margin: 0 auto;
  width: 550px;
  word-wrap: break-word;
  margin-left: 95px;
}

.done {
  color: green;
}

.todo {
  margin: 0 auto;
  width: 550px;
}

.done-hand {
  float: left;
}

.close {
  float: right;
  color: red;
  cursor: pointer;
}

.add-todo {
  background-color: rgb(56, 56, 231);
  border: none;
  color: #fff;
  margin: 0 10px;
  padding: 3px;
  cursor: pointer;
}

.input {
  width: 459px;
}
