body {
  background-color: rgb(62, 103, 236);
  color: rgb(85, 83, 83);
}

.App {
  margin: 0 auto;
  height: 100%;
  min-height: 540px;
  width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  background-color: #fff;
  padding: 20px;
  font-size: 20px;
}

.todo-list {
  margin: 0 auto;
  width: 500px;
  word-wrap: break-word;
}

.addTodo {
  margin: 0 auto;
  width: 500px;
  word-wrap: break-word;
  margin-left: 70px;
}

/* .done {
  color: green;
} */

.todo {
  margin: 0 auto;
  width: 500px;
  height: 70px;
}

.todoItem {
  font: italic 1.2em "Fira Sans", serif;
}

.done-hand {
  float: left;
}

.doneItem {
  color: blue;
}

.close {
  float: right;
  color: white;
  background-color: rgb(62, 103, 236);
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  width: 20px;
  height: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.close:hover {
  background-color: rgb(102, 135, 241);
}

.add-todo {
  background-color: rgb(62, 103, 236);
  border: none;
  color: #fff;
  margin: 10px 10px;
  padding: 7px;
  cursor: pointer;
}

.add-todo:hover {
  background-color: rgb(102, 135, 241);
}

.input {
  width: 459px;
  border: 1px solid grey;
  border-radius: 5px;
  height: 25px;
}

.circleItem {
  color: blue;
  font-weight: 900;
  font-size: 30px;
  margin-top: 10px;
}
